@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark-mode {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;

    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;

    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  body {
    font-family:
      "Twemoji Country Flags",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
}

::-webkit-scrollbar-track {
  @apply bg-border;
}

::-webkit-scrollbar {
  @apply w-2 bg-background;
}

::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-primary;
}

.markdown a[href] {
  @apply text-primary hover:underline inline-flex;
}

.markdown {
  @apply text-muted-foreground;
}

.markdown h1 {
  @apply text-4xl pb-2 border-b my-2 text-foreground;
}

.markdown h2 {
  @apply text-2xl my-2 text-foreground;
}

.markdown h3 {
  @apply text-xl my-2 text-foreground;
}

.markdown h4 {
  @apply text-xl my-2 text-foreground;
}

.markdown h5 {
  @apply text-lg text-foreground;
}

.markdown h6 {
  @apply text-base text-foreground;
}

.markdown blockquote {
  @apply p-4 my-4 border-s-4 border-primary bg-card text-muted-foreground;
}

.markdown pre {
  @apply border rounded-md p-4 my-4;
}

.markdown hr {
  @apply my-2;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ol > li {
  @apply ml-4;
}

.markdown ul > li {
  @apply ml-5;
}

.markdown table {
  @apply border-collapse border my-4;
}

.markdown table > thead > tr > th {
  @apply border px-3 py-2 font-semibold text-center;
}

.markdown tr {
  @apply hover:bg-accent/50 text-accent-foreground transition-colors;
}

.markdown table > tbody > tr > td {
  @apply border px-3 py-2 font-normal text-left;
}

.markdown table > tfoot > tr > td {
  @apply border px-3 py-2 font-semibold text-left;
}

.markdown ul.contains-task-list {
  @apply list-none;
}

.markdown ul.contains-task-list > li.task-list-item {
  @apply m-0;
}

.markdown ul.contains-task-list > li.task-list-item > input[type="checkbox"] {
  @apply w-4 h-4 inline-block;
}

.markdown *:not(pre) > code {
  @apply bg-secondary rounded-md text-secondary-foreground text-sm px-1 py-0.5;
}

.markdown p {
  @apply my-1;
}
